div{
    min-width: 100px;
    min-height: 100px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr 1fr;
}

.red{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.blue{
    background-color: blue;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.green{
    background-color: green;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.pink{
    background-color: pink;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

.cyan{
    background-color: cyan;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.orange{
    background-color: orange;
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
}

.purple{
    background-color: purple;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
}

.yellow{
    background-color: yellowgreen;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5;
}

.blueviolet{
    background-color: blueviolet;
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
}

.indigo{
    background-color: indigo;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

.grey{
    background-color: grey;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
}

.violet{
    background-color: violet;
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 4;
}

.coral{
    background-color: coral;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 7;
}